
@component('blog/base',{title:post.title})

    @slot("main")
        
        <main>

            @let({id,slug,title,content}=post)   

            <h2>{{title}}</h2> 

            <p>{{content}}</p>

            <a href="{{route('blog.index')}}">Home</a>                        
        </main>

    @end

@end